<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <footer class="absolute w-full text-white text-center p-2 bottom-0 bg-red-900">Developed by <a class="text-teal-300" href="https://github.com/debanjana-a11y" target="_blank">debanjanally</a> &copy2024</footer>
</body>
</html>