<header class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <nav class="text-white flex flex-wrap p-6 justify-between items-center flex-wrap">
        <h1 class="text-2xl">Mybrary</h1>
        <div class="md:w-1/2 sm:w-full">
            <ul class="flex justify-around items-center">
                <li>
                    <a href="/" class="text-lg font-bold text-cyan-900 hover:text-orange-100">Home</a>
                </li>
                <li>
                    <a href="/books" class="text-lg font-bold text-cyan-900 hover:text-orange-100">Books</a>
                </li>
                <li>
                    <a href="/" class="text-lg font-bold text-cyan-900 hover:text-orange-100">Add Book</a>
                </li>
                <li>
                    <a href="/authors" class="text-lg font-bold text-cyan-900 hover:text-orange-100">Authors</a>
                </li>
            </ul>
        </div>
    </nav>
</header>