<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="<%=reqURL%>/css/output.css" rel="stylesheet">
		<title>Authors</title>
	</head>
	<body>
		<%- include('./partials/header') %>
		<h1><%= name %></h1>
		<%- include('./partials/footer') %>
	</body>
</html>